* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*menu*/

header {
    background-color: black;
    color: azure;
    padding: 16px 0;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-weight: bold;
}

header nav li a {
    text-decoration: none;
    color: azure;
    font-weight: 400;
    letter-spacing: 3px;
    letter-spacing: 0em;
}

@keyframes increase-letter-spacing {
    from {
        letter-spacing: 0em;
    }

    to {
        letter-spacing: 0.3em;
    }

}

header nav li a:hover {
    text-decoration: solid;
    color: salmon;
    font-weight: 400;
    animation: increase-letter-spacing 0.1s linear forwards;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 100;
}

/*sobre*/

#about {
    overflow: hidden
}

#about .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

#about h2 {
    clear: left;
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 500;
    text-align: end;
    color: salmon;
}

#about hr {
    border: none;
    height: 2px;
    background-color: salmon;
}


#about p {
    padding-top: 16px;
    text-transform: uppercase;
    font-weight: 400;
    text-justify: inter-word;
    text-align: end;
}

#about img {
    width: 50%;
    padding: 32px;
    float: left;
    margin-right: 20px;
}

hr {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: salmon;
    border: none;
}

/*produtos*/

#products h2 {
    clear: left;
    padding: 32px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 500;
    color: salmon;
}

.product-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    width: 1240px;
}

.product-list li {
    width: 23%;
    padding: 20px;
    box-sizing: border-box;
}

.product-list img {
    width: 100%;
}

.product-list h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(218, 101, 88);
}

.product-list p {
    font-size: 10pt;
    color: rgb(58, 58, 58);
    padding: 10px 0;
}

button {
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    background-color: salmon;
}

button:hover {
    background-position: right center;
    background-color: rgb(168, 51, 38);
    transition: 0.3s ease;
}

/* display tablet */


@media screen and (min-width: 641px) and (max-width: 1023px) {

    .container {
        max-width: 60%;
        width: 100%;
        margin: 0 auto;
    }

    /*header*/

    header nav li {
        display: block;
        text-align: end;
    }

    @keyframes increase-letter-spacing {
        from {
            letter-spacing: 0em;
        }

        to {
            letter-spacing: 0.1em;
        }

    }

    header nav li a:hover {
        text-decoration: solid;
        color: salmon;
        font-weight: 400;
        animation: increase-letter-spacing 0.1s linear forwards;
    }

    /*sobre*/

    #about .container {
        display: block;
    }

    #about img {
        width: 100%;
        padding: 16px;
        float: left;
    }

    #about h2 {
        text-align: center;
    }

    #about p {
        padding-top: 16px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        padding-bottom: 16px;
        font-size: 12pt;
    }

    hr {
        max-width: 60%;
    }

    /*protutos*/

    .product-list{
        text-align: center;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
    }
    
    .product-list li {
        width: 50%;
    }
}

/* display mobile */

@media screen and (max-width: 640px) {

    .container {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }

    /*header*/

    header nav li {
        display: block;
        text-align: end;
    }

    @keyframes increase-letter-spacing {
        from {
            letter-spacing: 0em;
        }

        to {
            letter-spacing: 0.01em;
        }

    }

    header nav li a:hover {
        color: salmon;

    }

    /*sobre*/

    #about .container {
        display: block;
    }

    #about img {
        width: 100%;
        padding: 16px;
        float: left;
    }

    #about h2 {
        text-align: center;
    }

    #about p {
        padding-top: 16px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        padding-bottom: 16px;
        font-size: 12pt;
    }

    hr {
        max-width: 60%;
    }

    /*protutos*/

    .product-list{
        text-align: center;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
    }
    
    .product-list li {
        width: 100%;
        align-items: center;
    }
}

